body{
  background-color:white;
}

#dark{
  display:none;
  color: white;
}

#light{
    color:black;
}

#onswitch{
  display:none;
}

#label{
  height:200px;
  width:300px;
  margin:auto;
  font-weight: bold;
  font-size: 20px;
}